body {
    background: rgb(8,6,10);
    background: linear-gradient(128deg, rgba(8,6,10,1) 0%, rgba(16,13,28,1) 35%, rgba(25,19,44,1) 100%);
    font-family: sans-serif;
    overflow: hidden;
}

#logo {
    width: 50%;
}

@media screen and (max-width: 400px) {
    #logo {
      width: 100%;
      padding-bottom: 30%;
      margin-top: -60%;
    }
  }

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #dfdfdf;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: #dfdfdf;
}